@font-face {
    font-family: 'Alice';
    src: url('../assets/fonts/Alice_in_Wonderland_3.ttf');
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    width: 100%;
  }